.isRed {
    color: var(--text-red);
}
.isGreen {
    color: var(--text-green);
}
.isYellow {
    color: var(--text-yellow);
}
.isPink {
    color: var(--text-pink);
}
.isBlue {
    color: var(--text-blue)
}
:root {
    font-family: "Cascadia Code", monospace;
}

body {
    background: #2c2c2c;
    color: white;
}
a {
    color: inherit;
}
h1 {
    text-align: center;
}
pageHead {
    font-size: .875em;
    > right {
        float: right;
    }
}
searchBox {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
searchBox > icon > span.isGreen {
    display: none;
}
searchBox > input {
    font-family: "Cascadia Code", monospace;
    color: white;
    background: none;
    border: none;
    padding: .5em;
}
searchBox > input:focus {
    outline: none;
}
#result {
    display: block;
    margin-top: .5em;
    width: 100%;
    text-align: center;
}
.hidden {
    display: none;
}
code {
    font-size: .75em;
}
/*
Media Queries for light mode
*/
@media (prefers-color-scheme: light) {
    body {
        background: #ffffff;
        color: black;
    }
}
/* Media Queries for desktops */
@media (min-width: 600px) {
    searchBox > icon > span.isGreen {
        display: contents;
    }
    toc {
        position: absolute;
        z-index: 1;
    }
    cardBox {
        z-index: 2;
        display: grid;
        width: 100%;
    }
    cardBox > card {
        justify-self: center;
    }
    code {
        font-size: 1em;
    }
    pageHead {
        font-size: 1.125em;
    }
    right {
        float: right;
        >* {
            margin-right: 2em;
        }
    }
}